@import url('https://fonts.googleapis.com/css2? family= Nunito+Sans:wght@400;700 & family= Roboto & display=swap');

* {
    margin: 0;
    padding: 0;
} 
/* Header */
.miNavBar {
    background-color: #580917;
    padding: 30px;
    font-size: 20px;
}
.imgLogo {
    height: 60px;
    width: 60px;
    border-color: #580917;
    border-radius: 10px;
}
/* footer */
footer {
    background-color: #580917;
    color: #ccb5a9;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-top: 50px;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #111416;
}
p {
    color: #ccb5a9;
    font-size: 20px;
    padding: 10px;
    margin: 20px;
}
section h1 {
    text-align: center;
}
h1,
h2 {
    color: #ccb5a9;
    font-size: 40px;
}

/* Inicio */
.imagenInicio {
    height: 700px;
}
.lineaInicio {
    color: #580917;
    font-size: 60px;
    text-align: center;
}
.leyendaInicial {
    margin-top:10%;
    margin-bottom: 8%;
    padding: 30px;
    background-color: #ccb5a9;
}

/* ¿Qué vino tomo? */
.quevinotomo {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.tiposDeVino {
    margin-top: 30px;
    background-color: black;
    border-radius: 50px;
    display: grid;
    gap: 20px;
    justify-items: center;
}

/* Contacto */
.formContacto {
    padding: 10px;
    margin-top: 100px;
    margin-bottom: 100px;
}
fieldset {
    margin-top: auto;
    padding: 30px;
    border: 8px solid #ccb5a9;
    border-radius: 10px;
}
fieldset legend {
    background-color: #ccb5a9;
    text-align: center;
    color: #580917;
    font-size: 30px;
}
fieldset label {
    color: #580917;
}
.labelsContacto {
    font-size: 23px;
    padding: 5px;
    margin: 30px;
}
.tituloContacto {
    padding: 5px;
    margin-top: 80px;
    text-align: center;
}

